@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <p>
       Singleton: @ViewBag.Singleton <br />
       Transient: @ViewBag.Transient<br />
       Scoped:  @ViewBag.Scoped <br />  
    </p>

    <h3>Custom Sevice içindeki nesnelerin Guid değerleri</h3>
    <p>
        Singleton: @ViewBag.SingletonCustomService <br />
        Transient: @ViewBag.TransientCustomService<br />
        Scoped:  @ViewBag.ScopedCustomService <br />
    </p>
</div>
